{{> navbar user}}

<!-- Forum Jumbotron -->
<div class="container">
    <div class="row">
        <div class="col-md">
            <div class="jumbotron"
                style="background-image: url(https://cdn.pixabay.com/photo/2016/07/21/11/17/mineral-water-1532300_1280.jpg); background-size: 100%;">
                <h1 class="display-10 headline text-center" style="margin-bottom:0;">The Forum</h1>
            </div>
        </div>
    </div>

    <!-- View and filter Forum posts area -->
    <div class="row justify-content-md-center">
        <div class="col mx-auto">
            <h3>Forum Posts</h3>
            <!-- filter by category -->
            <div class="form-group">
                <label for="category-filter">Filter by Category:</label>
                <select id="category-filter">
                    <option value="select"><a href=''>Select One...</a></option>
                    <option value="diet"><a href='/forum?category=diet'>Diet Posts</a></option>
                    <option value="exercise"><a href='/forum?category=exercise'>Exercise Posts</a></option>
                    <option value="progress"><a href='/forum?category=progress'>Progress Posts</a></option>
                    <option value="motivation"><a href='/forum?category=motivation'>Motivational Posts</a></option>
                    <option value="all">All Posts</option>
                </select>
            </div>

            <!-- render posts-->
            <div id="forum-posts">
                {{#each posts}}
                <div class="forum-post-card card text-white bg-primary mb-3">
                    <div class="card-header">
                        <h4 class="text-white">{{title}}</h4>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{body}}</p>
                        by {{'User.email'}}
                        @ {{createdAt}}
                        <p>filed as category: {{category}}</p>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col mx-auto">
            <form class="forum-post">
                <fieldset>
                    <legend>Create Your Own Post</legend>
                    <p>
                        Share your triumphs, workouts, best foods, and your motivation with our FoodTrak community. Ask your new fitness friends for advise about what works for them.  </p>
                    </p>
                    <div class="form-group">
                        <label for="title-input">Title</label>
                        <input type="text" class="form-control" id="title-input" aria-describedby="postHelp"
                            placeholder="Enter your post title">
                    </div>

                    <div class="form-group">
                        <label for="body-input">Body</label>
                        <textarea class="form-control" id="body-input" name="body"
                            placeholder="Enter your message or question"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="category-input">Category</label>
                        <select id="category-input" name="category">
                            <option value="diet">Diet</option>
                            <option value="exercise">Exercise</option>
                            <option value="progress">Progress</option>
                            <option value="motivation">Motivation</option>
                        </select>
                    </div>
                    <small id="postHelp" class="form-text text-muted">Your email will be included with your post</small>
                    </br>
                    <button type="submit" class="btn btn-primary">Post!</button>\                    
                </fieldset>
            </form>
            <br />
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        // Getting references to our form and inputs
        const postForm = $("form.forum-post");
        const titleInput = $("input#title-input");
        const bodyInput = $("textarea#body-input");
        const categoryInput = $("select#category-input");

        // When the form is submitted, we validate there's a title and body entered
        postForm.on("submit", function (event) {
            event.preventDefault();
            console.log(bodyInput.val(), titleInput.val())
            var postData = {
                title: titleInput.val().trim(),
                body: bodyInput.val().trim(),
                category: categoryInput.val()
            };

            if (!postData.title || !postData.body || !postData.category) {
                return;
            };


            // If we have a title and password  we run the sendPost function and clear the form
            sendPost(postData.title, postData.body, postData.category);
            titleInput.val("");
            bodyInput.val("");
            categoryInput.val("");
        });

        // sendPost does a post to our "api/posts" route and if successful, redirects us the the forum page
        function sendPost(title, body, category) {
            $.post("/api/posts", {
                title: title,
                category: category,
                body: body
            })
                .then(function () {
                    window.location.replace("/forum");
                    // If there's an error, log the error
                })
                .catch(function (err) {
                    console.log(err);
                });
        }

        $("#category-filter").change(function () {

            var filter = $("select#category-filter");
            console.log(filter);
            var filterChoice = filter.val();
            filter.val("");
            console.log(filterChoice);
            if (filterChoice === "all" || filterChoice === "select") {
                window.location.replace("/forum");
            }
            else {
                window.location.replace("/forum/category/" + filterChoice);
            }
        });
    });
</script>